// @font-face {
// 	font-family: "Forum";
// 	src: url("./assets/fonts/Gilroy-Regular.woff2") format("woff2"),
// 		url("./assets/fonts/Gilroy-Regular.woff") format("woff");
// 	font-display: swap;
// 	font-weight: 400;
// 	font-style: normal;
// }
@mixin font($name, $url, $weight, $style) {
	@font-face {
		font-family: "#{$name}";
		src: url("./assets/#{$url}.woff2") format("woff2"), url("./assets/#{$url}.woff") format("woff");
		font-display: swap;
		font-weight: $weight;
		font-style: $style;
	}
}

@include font(Gilroy, fonts/Gilroy-Regular, 400, normal);
@include font(Gilroy, fonts/Gilroy-Bold, 700, normal);
