.container {
	max-width: 1800px;
	padding: 0 20px;
	margin: 0 auto;
}

html,
body {
	font-size: 18px;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.main {
	flex: 1 1 auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0 0 0 0);
}

.disable-scroll {
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.likes {
	display: flex;
	align-items: center;
	// .likes__count
	&__count {
		margin-right: 5px;
		@media (max-width: 768px) {
			font-size: 16px;
		}
	}
	// .likes__btn
	&__btn {
		margin-left: auto;
		width: 39px;
		height: 39px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #767676;
		border-radius: 9px;
		overflow: hidden;
		background-color: #e3e2e1;
		svg {
			width: 20px;
			height: 20px;
		}
		&--red {
			svg {
				fill: red;
			}
		}
	}
}

.owner {
	display: flex;
	align-items: center;
	// .owner__ava
	&__ava {
		margin-right: 10px;
		flex: 0 0 40px;
		height: 40px;
		width: 40px;
		border-radius: 100%;
		overflow: hidden;
		position: relative;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	// .owner__name
	&__name {
		font-size: 12px;
		&--white {
			color: #fff;
		}
	}
}

[data-aos="build"] {
	&.aos-animate {
		.photos-item {
			&::before {
				transform: translateY(-100%);
			}
			&::after {
				transform: translateY(100%);
			}
		}
	}

	// @media screen and (min-width: 768px) {
	//   transform: translateX(100px);

	//   &.aos-animate {
	//     transform: translateX(0);
	//   }
	// }
}

[data-aos] {
	body[data-aos-easing="new-easing"] &,
	&[data-aos][data-aos-easing="new-easing"] {
		transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
	}
}
