.header {
	padding: 20px 0;
	background-color: burlywood;
	// .header__container
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .header__logo
	&__logo {
		margin-right: 20px;
		svg {
			width: 40px;
			height: 40px;
		}
	}
	// .header__nav
	&__nav {
		margin-right: 40px;
		margin-left: auto;
		@media (max-width: 576px) {
			margin-right: 20px;
		}
		ul {
			display: flex;
			align-items: center;
			li {
				&:not(:last-child) {
					margin-right: 15px;
				}
				a {
					color: #000;
					@media (max-width: 420px) {
						font-size: 16px;
					}
					&.router-link-exact-active {
						color: #8a50e6;
					}
				}
			}
		}
	}
	// .header__logout
	&__logout {
		padding: 10px 15px;
		background-color: $violet;
		border-radius: 10px;
		color: #fff;
		font-size: 15px;
		font-weight: 700;
		text-transform: uppercase;
		@media (max-width: 576px) {
			font-size: 12px;
			padding: 9px 12px;
		}
	}
}
